
#form{
	margin: 10%;
}

#form #viewtable{
	margin: 0% 22%;
	width:800px;
}

#viewtable input{
	width:300px;
}

#insertform{
	margin: 100px 500px;
}

#insertform input{
	width: 300px;
}

