
#form{
	margin: 5% 10%;
}

#form #viewtable{
	margin: 0% 22%;
	width:800px;
}

#viewtable input{
	width:300px;
}

#insertform{
	margin: 3% 27%;
}

#insertform input{
	width: 500px;
}

a .nav-link{
	font-color:#9933cc;
}

